body{
   color: navy;
}

.centeredContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.submitButton{
   border-radius: 10px;
   background-color: slategray;
}